<!DOCTYPE html>
<html ng-app="bgRanks">
<head>
  <title>Bgranks</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="GamesCtrl">

  <ul>
    <li ng-repeat="game in games">
      <span>{{game.name}}</span>
      <p>{{game.designer}}</p>
    </li>
  </ul>

</body>
</html>
